.signup {
  display: flex;
  justify-content: space-between;
  .logo {
    width: 10rem;
    height: 3rem;
  }
  /* Base styling for the login container */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Login box styling */
.signup-box {
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 300px;
  text-align: center;
  background: transparent;

  h2 {
    font-size: 24px;
    color: #F6A21E; /* Orange */
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }

  input[type="text"],
  input[type="password"] {
    background-color: #fff;
  }

  button {
    background-color: #ff6600; /* Orange */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  button:hover {
    background-color: #d45500; /* Darker Orange on hover */
  }
}

  .left-h {
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
  .right-h {
    flex: 1;
    position: relative;
    background-color: var(--orange);
  }
  .right-h > .btn {
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: black;
  }
  .hero-image {
    position: absolute;
    top: 10rem;
    right: 8rem;
    width: 20rem;

  }
  .hero-image-back {
    position: absolute;
    top: 4rem;
    right: 20rem;
    z-index: -1;
    width: 15rem;
  }
  .hero-blur {
    width: 22rem;
    height: 30rem;
    left: 0;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    .signup-box {
      width: 75%; /* Adjust the width for smaller screens */
    }
    
    .signup-box h2 {
      font-size: 20px; /* Decrease font size for smaller screens */
    } 
    .hero-blur {
      width: 14rem;
    }
    .right-h {
      position: relative;
      background: none;
    }
    .hero-image {
      position: relative;
      width: 15rem;
      left: 7rem;
      top: 4rem;
      margin-left: 1rem;
      align-self: center;
    }
    .hero-image-back {
      width: 15rem;
      left: 2rem;
      top: 0rem;
    }
  }
}
